USE [master]
GO
/****** Object:  Database [CRUDSimple]    Script Date: 5/12/2019 8:06:07 AM ******/
CREATE DATABASE [CRUDSimple]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUDSimple', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.EXPRESS\MSSQL\DATA\CRUDSimple.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CRUDSimple_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.EXPRESS\MSSQL\DATA\CRUDSimple_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUDSimple].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUDSimple]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 5/12/2019 8:06:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[PlaceOfBirth] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Client] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
